*{
    margin:0px;
    padding:0px;
   
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(images/images/banner.png),linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));

    
}
.nav{
display:flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;

}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links li{
    text-align: right;
    font-size: small;

    color: crimson;
    font-size: 30px;
}
.nav-links ul li{
    
    list-style: none;
    display:inline-block ;
    padding: 8px 12px;
    position: relative;
    color: rgb(207, 194, 194);
}
.nav-links ul li a{

    color: #ffff;
    text-decoration: none;
    font-size: 13px;
}
#main{
    color: blue;
    font-size: 45px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    border: 1px solid #ffff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
